body {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
.banner {
  min-height: 100vh;
  width: 100vw;
  background-image:
    linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/banner.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.header {
  padding: 1% 3%;
  display: flex; /* eğer yer varsa elemanları yanyana getirir*/
  justify-content: space-between; /* yatayda hizala boşluk*/
  align-items: center; /*dikeyde ortala */
}
.header a img {
  width: 50px;
  border-radius: 50%;
}
.nav-links {
  flex: 1; /* bir üst alanda eğer flex  varsa  bosluk alanı tam kapla */
  text-align: right;
}

.menu-btn {
  display: none;
  background: transparent;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.nav-links ul {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 30px;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

/*TEXTBOX*/
.text-box {
  color: white;
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*hareket ettir */
}
.text-box h1 {
  font-size: 40px;
}
.text-box p {
  margin: 10px 40px;
}
.banner-button {
  padding: 12px 34px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}
.banner-button:hover {
  background-color: #f44336;
  border: 1px solid;
}
.courses-area {
  margin: auto;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
.courses-area h1 {
  font-size: 36px;
  font-weight: 600;
}
.courses-area p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.courses,
.campuses,
.educations-row,
.testimonies-row {
  display: flex;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-card {
  background-color: rgb(236, 232, 226);
  flex-basis: 31%;
  margin-bottom: 5%;
  padding: 20px 12px;
  transition: all 0.4s;
  border-radius: 10px;
}
.course-card:hover {
  box-shadow: 0 0 5px rgba(4, 9, 30, 0.7);
}

/*KAMPÜS ALANI*/

.campus,
.educations,
.testimonies {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 50px;
}
.campus-card {
  flex-basis: 32%;
  margin-bottom: 30px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
}

.campus-card img {
  width: 100%;
  border-radius: 20px;
}
.layer {
  background-color: transparent;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.4s;
}
.layer:hover {
  background-color: rgba(31, 30, 30, 0.7);
}
.layer h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  transition: all 0.3s;
}
.layer:hover h3 {
  opacity: 1;
  bottom: 48%;
}

.campus-card:hover img {
  scale: 1.2;
}

.education-card {
  flex-basis: 32%;
  margin-bottom: 5%;
  text-align: left;
}

.education-card img {
  width: 100%;
  aspect-ratio: 3/2; /*genıslıge gore yukseklık */
  border-radius: 10px;
}

.education-card h3 {
  margin-top: 16px;
  margin-bottom: 10px;
  height: max-content;
}
.education-card p {
  padding: 0;
  text-align: justify;
}

.testimonies-card {
  display: flex;
  gap: 15px;
  flex-basis: 49%;
  border: 2px solid rgba(4, 9, 30, 0.7);
  background-color: #fff3f3;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  padding: 20px 10px;
  min-height: 250px;
}

.testimonies-card img {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  border: 2px solid gray;
  border-radius: 50%;
}
.testimonies p {
  font-size: 14px;
  margin-bottom: auto;
}
.stars {
  color: rgba(255, 217, 0, 0.688);
}
.review {
  display: flex;
  flex-direction: column;
}

.call-to-action {
  width: 90%;
  margin: 100px auto;
  background-image:
    linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("images/banner2.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 10px;
  padding: 100px 0;
}

.call-to-action h1 {
  color: white;
  margin-bottom: 40px;
}

.footer {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding: 30px 15px;
}
.footer h4 {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
}

.footer-desc {
  width: 90%;
  margin: 20px auto;
}

.icons i {
  color: red;
  margin: 0 13px;
  cursor: pointer;
  padding-bottom: 20px;
}
.copyright {
  font-size: 12px;
}
.copyright span {
  margin: 0 10px;
  color: #f44336;
}

/*responsive*/
@media (max-width: 700px) {
  .courses {
    flex-direction: column; /* elemanları alt alta getir */
  }
  .nav-links ul {
    display: none;
  }
  .menu-btn {
    display: inline;
  }
  .text-box h1 {
    font-size: 25px;
  }
  .campuses {
    flex-direction: column;
  }
  .educations-row {
    flex-direction: column;
    gap: 20px;
  }
  .testimonies-row {
    flex-direction: column;
    gap: 20px;
  }
  .call-to-action h1 {
    font-size: 20px;
  }
}
